---
import { getEntry, render } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import SiteLayout from "../layouts/SiteLayout.astro";

const aboutEntry = await getEntry("about", "index");
if (!aboutEntry) {
  throw new Error("Missing about content file: src/content/about/index.md");
}
const { Content } = await render(aboutEntry);
const pageTitle = `${aboutEntry.data.title} | ${SITE_TITLE}`;
const pageDescription = aboutEntry.data.description ?? SITE_DESCRIPTION;
---

<SiteLayout title={pageTitle} description={pageDescription}>
  <section class="about-block">
    <article class="content-prose">
      <h1>{aboutEntry.data.title}</h1>
      <Content />
    </article>
  </section>
</SiteLayout>

<style>
  .about-block {
    width: 100%;
  }
</style>
