---
import BaseHead from "../components/BaseHead.astro";
import CodeCopy from "../components/CodeCopy.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import type { ImageMetadata } from "astro";
import PageContainer from "../components/layout/PageContainer.astro";

type Props = {
  title: string;
  description: string;
  lang?: string;
  image?: ImageMetadata;
  type?: "website" | "article";
};

const { title, description, lang = "zh-CN", image, type = "website" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} image={image} type={type} />
    <slot name="head" />
  </head>
  <body>
    <Header />
    <PageContainer>
      <slot />
    </PageContainer>
    <Footer />
    <CodeCopy />
  </body>
</html>
